
  <!-- Header Section -->
    <section class="about">
      <div class="container-fluid">
        <h2 class="pt-5 md-pt-5 text-center text-light about-txt">We take your business<br>where your customers live, <span class="about-h4">#Online.</span> <br>Then we make it thrive!</h2>

        <p class="text-center text-light lead pt-4 pb-4">The best digital marketing agency <s>helping</s><b> making</b> businesses be seen, be heard and sell online</p>

        <div class="text-center pb-5">
        <a href="tel:0707898224" class="btn btn-primary ">Get Free Consultation</a>
        </div>
        </div>
      </div>
    </section>
   
    <!-- ery -->
    <section class="dmpic">
      <div class="">
        <img src="images/pple2.jpg" class="dm img-fluid" alt="">
      </div>
      <div class="container p-5 text-center">
        <h3 class=" pb-2 text-center fw-bold text-primary">The game has shifted...</h3>
        <p class="lead">If your business is not online, you're losing money. Don't believe us? Have a look at this.
          <div class="toilet text-center">
            <img src="images/toilet.jpg" class="dm img-fluid" alt="">
          </div>
          People live online! 
        </p>
        <p class="lead">But it's not easy! To compete and thrive in this tough online space, businesses need ideas that break the mold. <b>And that's why we exist.</b></p>
      
        <p class="lead">We're strategists, storytellers, marketers, digital thought leaders, and brand gurus. We exist to make businesses thrive. To deliver results. To drive growth.
          We're the digital marketing agency businesses come to when they want results. 
        </p>
      </div>
       
  </section>
 
    <!-- Ministries -->
    <section id="our-services" class="text-center pb-5 mt-2">
      <div class="container">
      <h3 class="pt-5 pb-2 text-center fw-bold text-primary">An insight into what we do</h3>
      <p class="text-center container lead">More Exposure. More Customers. More Earnings. More Success.</p>
 
  
    <div class="grid-wrapper">
        <div class="card1 fellowship container">
            <h3 class="fw-bold">Web Design & Development</h3>
            <p class="fs-6 container">We build bespoke websites that increase revenue <br>and consistently attract, convert and deliver paying clients. <span class="about-h4">Great websites don't just happen.</span></p>
            <div class="pb-3">
          <a href="tel:0707898224" class="btn btn-outline-light">Get Free Consultation</a> 
          </div>
        </div>
  
        <div class="card2 men hover-zoom">
          <h3 class="fw-bold text-start">Content & Copy Writing</h3>
          <p class="text-start">A company is not a product or it's service. It's the sum of all the experiences customers have with it. <u>We tell your story in a way that sells.</u></p>
        </div>
  
        <div class="card3 mothers">
          <h3 class="fw-bold">S.E.O solutions</h3>
          <p class="text-start">It's worthless to have a beautiful website yet customers can't find it.<br>We make you visible. We make you rank.</p>
        </div>
  
        <div class="card3 teens">
        <h3 class="fw-bold">Branding</h3>
        <p class="text-start">Your brand is the silent ambassodor of your company. It should be <b>bold, right & able to create loyal customers.</b></p>
        </div>
  
        <div class="card3 youth">
        <h3 class="fw-bold">Social Media Marketing</h3>
        <p class="text-start">Social media is powerful. And your business should be making money from it.</p>
        </div>
  
        <div class="card3 kids">
          <h3 class="fw-bold text-start">Online Copy<br>Writing Course</h3>
          <p class="text-start">Putting the right words on paper and online is the most profitable skill anyone should learn today. Learn from the <b>BEST</b></p>
          <a href="https://subscribepage.io/ZtWDu4">Click for more</a>
        </div>
  
   </div>
      </div>
    </section>


  <!-- svaaaaab -->
  <section class="pb-4">
    <div class="container">
      <h3 class="text-center pb-3 text-primary fw-bold pt-5">Ok, you're amazing! You scrolled this far.</h3>
    
      <p class="text-center lead container">
        Just like you, <span class="fw-bold">we also go the extra mile because it's never crowded.</span> When we partner with you, we immerse ourselves in your business, your product, your service, to the point where we literally become an extension of you. We do this to provide solutions that deliver <b>desired results</b> and generate <b>success.</b>
        <p class="text-center py-3">
          <a href="tel:0707898224" class="btn btn-primary">Get Free Consultation</a>
        </p>  
      </div>
  </section>

  <!-- footer -->
  <section class="purple">
  <footer id="site-footer">

    <section class="horizontal-footer-section" id="footer-top-section">
        <div id="footer-logo" class="ack-name text-light">
          <img class="lgo" src="/images/logo6.jpg" alt=""><br>
          <b>PRESIDENS <span class="digital">DIGITAL</span></b><br><span class="Moto text-center">BE SEEN. BE HEARD. SELL MORE.</span>
          <p class="footer-text lead">We are a digital marketing agency on a mission to make businesses be seen, be heard, and sell online.<br>We do it by constantly improving our methods, technology, providing professional support, and making digital presence effectivee and seamless</p>
        </div>

        <div id="footer-top-menu-container" role="menubar">
            <ul id="footer-top-menu" role="menu">
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">Branding</a>
                </li>
                <li class="footer-top-menu-item footer-top-menu-item-active" role="menuitem">
                    <a href="#" class="footer-top-menu-link">Web development</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="#" class="footer-top-menu-link">SEO</a>
                </li>
                <li class="footer-top-menu-item" role="menuitem">
                    <a href="https://subscribepage.io/ZtWDu4" class="footer-top-menu-link">Copy Writing</a>
                </li>
            </ul>
        </div>
        <div id="footer-buttons-container">
            <a href="#" class="footer-button" role="button">View our Projects</a>
        </div>
    </section>

    <main id="contacts">
    <section class="horizontal-footer-section" id="footer-middle-section">
        <div id="footer-about" class="footer-columns footer-columns-large">
            <h1>Our Address</h1>
            <address>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Nairobi, Kenya</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">+254707898224</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">eric@presidensdigital.com</p>
                <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
            </address>
        </div>
    </section>
    </main>
    
    <section class="horizontal-footer-section" id="footer-bottom-section">
        <div id="footer-copyright-info">
            &copy; Presidens Digital 2022. All rights reserved.
        </div>
        <div id="footer-social-buttons">
          <a href="https://instagram.com/presidensdigital"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://t.me/+RpDUp5_GPe50shSd"></a><i class="fa fa-telegram" aria-hidden="true"></i></a>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          
          
        </div>
    </section>

</footer>
</section>

   