<section class="course-head text-center d-flex flex-column justify-content-center">
    <div class="container">
        <h1 class="heading text-center text-light">Write to Sell, Write to Earn More</h1>
        <h1 class="text-light fw-bold pb-2">Welcome to the Ultimate Copywriting Course</h1>

        <div class="container px-5">
            <h4 class="text-light"><span class="about-h4 fw-bold">Complete with Proven Techniques, Places, and
                    Examples of How To Monetize</span></h4>
            <h5 class="text-light fw-bold">(No Other Course Provides This!)</h5>
        </div>
    </div>
</section>

<section class="container text-center pb-5">
    <h3 class="pt-5 pb-3">Course curriculum</h3>

    <!-- cards -->
    <div class="sections">
        <div class="card mb-1 p-3 sect" id="sect">
            <div class="select d-flex justify-content-between container">
                <h5 class="selected">Section 1</h5>
                <div class="caret"></div>
            </div>
            <ul class="list">
                <li>Framer</li>
                <li>Sketch</li>
                <li>Invision Studio</li>
                <li>Figma</li>
                <li>Adobe xd</li>
            </ul>

        </div>
    </div>

    <div class="sect card mb-1 p-3 sect">
        <div class="select d-flex justify-content-between container">
            <h5 class="selected">Section 2</h5>
            <div class="caret"></div>
        </div>
        <div class="navlinks">
            <ul class="list">
                <li><a href="/">Welcome</a></li>
                <li><a href="/menu">Who I am</a></li>
                <li><a href="/#reservation">Chapter 1</a></li>
                <li><a href="#contacts">Chapter 2</a></li>
            </ul>
        </div>
    </div>

    <div class="card mb-1 p-3 sect">
            <div class="select d-flex justify-content-between container">
                <h5 class="selected">Section 3</h5>
                <div class="caret"></div>
            </div>
            <div class="navlinks">
                <ul class="list">
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/menu">Who I am</a></li>
                    <li><a href="/#reservation">Chapter 1</a></li>
                    <li><a href="#contacts">Chapter 2</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-1 p-3 sect">
            <div class="select d-flex justify-content-between container">
                <h5 class="selected">Section 4</h5>
                <div class="caret"></div>
            </div>
            <div class="navlinks">
                <ul class="list">
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/menu">Who I am</a></li>
                    <li><a href="/#reservation">Chapter 1</a></li>
                    <li><a href="#contacts">Chapter 2</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-1 p-3 sect">
            <div class="select d-flex justify-content-between container">
                <h5 class="selected">Section 5</h5>
                <div class="caret"></div>
            </div>
            <div class="navlinks">
                <ul class="list">
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/menu">Who I am</a></li>
                    <li><a href="/#reservation">Chapter 1</a></li>
                    <li><a href="#contacts">Chapter 2</a></li>
                </ul>
            </div> 
    </div>
    </div>

</section>